.event-summary-list {
  overflow: hidden; /* Force list to contain floating children */
}

.event-summary-value {
  font-weight: bold;
  white-space: nowrap;
  color: #444;
}

.event-summary-label {
  display: inline-block;
  margin-right: .2em;
  width: 86px;
  font-size: .88em;
  color: #666;

  &:after {
    display: inline-block;
    content: ':';
  }
}

@media screen and (min-width: 480px) {
  .event-summary-list {
    > li {
      float: left;
      margin-right: 1em;
    }
  }

  .event-summary-label {
    width: auto;
  }

}
