@import '_EventSummaryView.scss';
@import '_MagnitudeCollectionTable.scss';

@import 'tablist/TabList.scss';


#event-search-view {
  margin: 1em;
  padding: 0;
}

#application:after {
  content: 'css content';
  display: block;
}
